html {
  height: 100vh;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* With a fullpage `background`, it's better to disable potential scroll bounce on all sides, which would show the `background-color`. */
  overflow: hidden;
  background: linear-gradient( #96969E 0%, #D7B7AA 25%, #F6C9B5 50%, #FFD4B5 75%, #FEE4B9 100%);
}
